<html>
  <head>
    <meta charset="utf-8"/>
    <link href="{{rootUrl}}assets/style.css" rel="stylesheet" />
  </head>
  <body>
<header class="navigation">
	<div class="content">
		<span class="project-name">Appraise</span>
		<ul class="menu">
			<li>
          <a href="{{rootUrl}}">Home</a>
        </li>
		<li>
		  <a href="{{rootUrl}}summary.html">Summary</a>
		</li>
        <li>
          <a href="https://github.com/gojko/appraise">Help</a>
        </li>
      </ul>
    </div>
  </header>
  <header class="page-header">
    <div class="content">
      <ul class="navigation-crumbs">
		{{#each breadcrumbs}}
			<li>{{this}}</li>
		{{/each}}		
		<li>{{exampleName}}</li>
      </ul>
    </div>
  </header>

  <div class="content page-block summary" data-outcome-status="{{example.outcome.status}}">
	<div class="header">
		<dl class="stats">
		<dt>Outcome</dt>
		<dd>{{example.outcome.status}}</dd>
		{{#if example.outcome.message}}
		<dt>Cause</dt>
		<dd>{{example.outcome.message}}</dd>
		{{/if}}
	</div>
  {{#if approvalInstructions}}
    <div class="instructions">
      Approve this example from your command line using:
      <code>
        {{approvalInstructions}}
      </code>
    </div>
  {{/if}}
  </div>


  <div class="content card-container">		
    <div class="card">
		<span class="card-title">Expected</span>
		<div class="card-contents">
			<img src="../{{example.expected}}"/>
		</div>
	</div><div class="card">
		<span class="card-title">Actual</span>
		<div class="card-contents" >
			<img class="card-contents" src="{{example.output.screenshot}}" />
		</div>
	</div>
	{{#if example.outcome.image}}
	<div class="card">
		<span class="card-title">Diff</span>
		<div class="card-contents" >
		<img src="{{example.outcome.image}}" />
		</div>
	</div>
	 {{/if}}

  {{#if example.output.source}}
	<div class="card">
		<span class="card-title">Source</span>
		<iframe class="card-contents" src="{{example.output.source}}"></iframe>
	</div>
  {{/if}}
  </div>
</body></html>

