<html>
  <head>
    <meta charset="utf-8"/>
    <link href="{{rootUrl pageName}}../assets/style.css" rel="stylesheet" />
  </head>
  <body>
  <input type="radio" checked="checked" data-tab-name="tab1" id="tab1" name="tab"/>	  
  <input type="radio" data-tab-name="tab2" id="tab2" name="tab"/>	  
  <input type="radio" data-tab-name="tab3" id="tab3" name="tab"/>	  
  <input type="radio" data-tab-name="tab4" id="tab4" name="tab"/>
<header class="navigation">
	<div class="content">
		<span class="project-name">Appraise</span>
		<ul class="menu">
			<li>
          <a href="../{{rootUrl pageName}}">Home</a>
        </li>
		<li>
		  <a href="../{{rootUrl pageName}}summary.html">Summary</a>
		</li>
        <li>
          <a href="http://appraise.qa">Help</a>
        </li>
      </ul>
    </div>
  </header>
  <header class="page-header">
    <div class="content">
      <ul class="navigation-crumbs">
       <li><a href="../{{rootUrl pageName}}summary.html">Start</a></li>
      {{#breadCrumbs pageName}}
        <li>
            <a href="../{{path}}{{#if last}}.html{{/if}}">{{name}}</a>
        </li>
      {{/breadCrumbs}}		
      <li>{{exampleName}}</li>
      </ul>
    </div>
	<div class="content tab-container">
		<label for="tab1">Grid</label>
		{{#if output.screenshot}}
			{{#if expected}}    
				<label for="tab2">Overlay</label>
			{{/if}}
		{{/if}}
		{{#if output.source}}
		<label for="tab3">Inspect</label>
		{{/if}}
		{{#if output.logs}}
		<label for="tab4">Logs</label>
		{{/if}}
	</div>	  
  </header>

  <div class="content page-block summary" data-outcome-status="{{outcome.status}}">
    <div class="header">
      <dl class="stats">
      <dt>Outcome</dt>
      <dd>{{outcome.status}}</dd>
      <dt>Duration</dt>
      <dd>{{duration unixTsStarted unixTsExecuted}}</dd>
      {{#if outcome.message}}
        <dt>Cause</dt>
        <dd>{{outcome.message}}</dd>
      {{/if}}
      </dl>
    </div>
    {{#approvalInstructions .}}
      <div class="instructions">
        {{#if cmdLine}}
        Approve this example from your command line using:
        <code>
          {{cmdLine}}
        </code>
        {{/if}}
      </div>
    {{/approvalInstructions}}
  </div>


  <div class="content card-container"  data-tab-panel="tab1">		
	{{#if expected}}  
    <div class="card">
		<span class="card-title">Expected</span>
		<div class="card-contents">
			<img src="../{{expected}}"/>
		</div>
	</div>
	{{/if}}	
	{{#if output.screenshot}}
		<div class="card">
			<span class="card-title">Actual</span>
			<div class="card-contents" >
				<img class="card-contents" src="{{output.screenshot}}" />
			</div>
		</div>
	 {{/if}}
	{{#if outcome.image}}
		<div class="card">
			<span class="card-title">Diff</span>
			<div class="card-contents" >
			<img src="{{outcome.image}}" />
			</div>
		</div>
	 {{/if}}

	 {{#if output.source}}
		<div class="card">
			<span class="card-title">Source</span>
			<iframe class="card-contents" src="{{output.source}}"></iframe>
		</div>
	 {{/if}}
  </div>
  <div class="content"  data-tab-panel="tab2">
	 <div class="box controls" data-overlay-control="overlay-expected">
		  <span class="box-title"><input data-overlay-role="visibility" type="checkbox" checked="checked"/> Expected</span>
		  <span class="control"><label>Opacity</label><input data-overlay-role="opacity" type="range" min="0" max="1" step="0.05" value="0.5"></span>
		  <span class="control"><label>Scale</label><input data-overlay-role="scale" type="range" min="-10" max="10" step="1" value="0"></span>
	  </div>
	 <div class="box controls" data-overlay-control="overlay-actual">
		  <span class="box-title"><input data-overlay-role="visibility" type="checkbox" checked="checked"/> Actual</span>
		  <span class="control"><label>Opacity</label><input data-overlay-role="opacity" type="range" min="0" max="1" step="0.05" value="0.5"></span>
		  <span class="control"><label>Scale</label><input data-overlay-role="scale" type="range" min="-10" max="10" step="1" value="0"></span>
	  </div>
	{{#if outcome.image}}
	 <div class="box controls"  data-overlay-control="overlay-diff">
		  <span class="box-title"><input data-overlay-role="visibility" type="checkbox" /> Diff</span>
		  <span class="control"><label>Opacity</label><input data-overlay-role="opacity" type="range" min="0" max="1" step="0.05" value="0.5"></span>
		  <span class="control"><label>Scale</label><input data-overlay-role="scale" type="range" min="-10" max="10" step="1" value="0"></span>
	  </div>
	 {{/if}}
	   <div class="overlay-container">		
		   {{#if expected}} 
  		   <img class="draggable" id="overlay-expected" src="../{{expected}}"/>
       {{/if}}
		   {{#if output.screenshot}}
		  	 <img class="draggable" id="overlay-actual" class="card-contents" src="{{output.screenshot}}" />
		   {{/if}}
		   {{#if outcome.image}}
			    <img class="draggable" id="overlay-diff" src="{{outcome.image}}" />
		   {{/if}}
	   </div>
  </div>
  {{#if output.source}}
	<div class="content grow" data-tab-panel="tab3">
  	<iframe src="{{output.source}}"></iframe>
	</div>
  {{/if}}

    <script src="../{{rootUrl pageName}}assets/result-scripts.js"></script>
</body></html>

