<html>
  <head>
    <meta charset="utf-8"/>
    <link href="assets/style.css" rel="stylesheet" />
  </head>
  <body>
<header class="navigation">
	<div class="content">
		<span class="project-name">Appraise</span>
		<ul class="menu">
			<li>
          <a href="./">Home</a>
        </li>
        <li>
          <a href="http://appraise.qa">Help</a>
        </li>
      </ul>
    </div>
  </header>
  <header class="page-header">
    <div class="content">
  			<h1>Summary</h1>
        <dl class="stats">
          <dt>Started at</dt><dd>{{timestamp startedAt}}</dd>
          <dt>Finished at</dt><dd>{{timestamp finishedAt}}</dd>
        </dl>
    </div>
  </header>

  <div class="content page-block summary" data-outcome-status="{{summary.status}}">
    <div class="header">
		  <dl class="stats">
			<dt>Total pages</dt><dd>{{summary.pages}}</dd>
			<dt>Total examples</dt><dd>{{summary.total}}</dd>
			  {{#if summary.success}}
				  <dt>Passed</dt><dd>{{summary.success}}</dd>
			  {{/if}}
			  {{#if summary.failure}}
				  <dt>Failed</dt><dd>{{summary.failure}}</dd>
			  {{/if}}
			  {{#if summary.error}}
				  <dt>Errors</dt><dd>{{summary.error}}</dd>
			  {{/if}}
		  </dl>
		</div>
		<table>
		  <tbody>
			{{#each pages}}
				<tr data-outcome-status="{{summary.status}}">
				  <td><a href="{{pageName}}.html">{{pageName}}</a></td>
          <td>
          	<dl class="stats">
              <dt>Total examples</dt><dd>{{summary.total}}</dd>
                {{#if summary.success}}
                  <dt>Passed</dt><dd>{{summary.success}}</dd>
                {{/if}}
                {{#if summary.failure}}
                  <dt>Failed</dt><dd>{{summary.failure}}</dd>
                {{/if}}
                {{#if summary.error}}
                  <dt>Errors</dt><dd>{{summary.error}}</dd>
                {{/if}}
            </dl>
          </td>
				</tr>
			{{/each}}
		  </tbody>
		</table>
  </div>



{{#each pages}}
  <div class="content page-block summary" data-outcome-status="{{summary.status}}">
    <div class="header">
      <h2><a href="{{pageName}}.html">{{pageName}}</a></h2>
		  <dl class="stats">
			<dt>Total examples</dt><dd>{{summary.total}}</dd>
			  {{#if summary.success}}
				  <dt>Passed</dt><dd>{{summary.success}}</dd>
			  {{/if}}
			  {{#if summary.failure}}
				  <dt>Failed</dt><dd>{{summary.failure}}</dd>
			  {{/if}}
			  {{#if summary.error}}
				  <dt>Errors</dt><dd>{{summary.error}}</dd>
			  {{/if}}
		  </dl>
		</div>
		<table>
		  <tbody>
			{{#each results}}
				<tr data-outcome-status="{{outcome.status}}">
				  <td><a href="{{../pageName}}/{{outcome.overview}}">{{@key}}</a></td><td>{{outcome.message}}</td>
				</tr>
			{{/each}}
		  </tbody>
		</table>
  </div>



{{else}}

  <div class="content page-block summary" data-outcome-status="{{summary.status}}">
    <div class="header">
      No test pages found in this directory
		</div>
  </div>

{{/each}}

</body>
</html>
